# Test NasmX86 2021-04-01 at 14:11:14

name: Test

on:
  push

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install GCC
      run: |
        sudo apt install build-essential

    - name: Test
      run: |
        perl lib/Trim.pm
